<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>0xweb</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header class="topbar">
  <a class="brand" href="/"><span>0x</span>web</a>
  <nav>
    <a href="/">Categories</a>
    <a href="/catalog">Catalog</a>
    <a href="/submit">Scoreboard</a>
    <a href="/about">About</a>
    <a href="/comments?level=1">Comments</a>
    <a href="/uploads?level=1">Uploads</a>
    <a href="/profile?user_id=1&level=1">Profile</a>
  </nav>
</header>
<main class="container">
{% block content %}{% endblock %}
</main>
<footer>0xweb · WEB APPLICATION PENETRATION TESTING · created by <b>kadi kadanov</b></footer>
</body>
</html>
